numpy==1.24.2
scipy==1.11.2
pytorch-lightning==2.0.9
platformdirs>=3.9.1,<4.0.0
prompt_toolkit>=3.0.41,<3.1.0
causal_learn
colorama
daft
Deprecated
dowhy
future
gadjid
hyppo
joblib
kneed
matplotlib
mlforge
networkx
optuna
pandas
pydot
pydotplus
pygam==0.9.0
pytest
python_igraph
rich
scikit-learn
seaborn
statsmodels
tensorboardX
torch
tqdm
sphinx
sphinx_rtd_theme
myst-parser
numpydoc
