causal_learn==0.1.3.3
colorama==0.4.6
daft==0.1.2
Deprecated==1.2.14
hyppo==0.4.0
joblib==1.3.2
kneed==0.8.5
matplotlib==3.7.2
minepy==1.2.6
mlforge>=0.1.3a0
networkx==3.1
numpy==1.24.1
optuna==3.3.0
pandas<2.0.0
pydot==1.4.2
pydotplus==2.0.2
pygam==0.9.0
pytest==7.4.0
pytest-cov==4.1.0
python_igraph==0.11.3
pytorch_lightning==2.0.9
scikit_learn==1.3.0
scipy==1.11.4
seaborn==0.13.0
setuptools==68.2.2
shap==0.42.1
Sphinx==7.2.6
sphinx_gallery==0.14.0
sphinx_rtd_theme==1.3.0
statsmodels==0.14.0
timeout_decorator==0.5.0
torch==2.1.0
tqdm==4.65.2
sphinx_gallery
